<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/EventPreferences.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/confirmedEventPage.css">
    <script type="text/javascript" src="../static/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/moment.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/transition.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/collapse.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
	   
</head>
<body>
<div id=“event_id” style=“visibility: hidden”>
      {{ event_id }}
    </div>
<h1> Event Confirmed! </h1>
<div class="container-confirmation">
<div class="row">
        <div class="event-confirmed-image-container">
          <img id="event-confirmed-image" src="../static/photos/photo1.jpg" alt="Sample photo">
        </div>
		<div class="col-sm">
			<h2 id="restaurant-name"> Restaurant name</h2>
			<p id="price-range"> Restaurant price range </p>
			<p id="restaurant-location"> Restaurant location</p>
			
		</div>
      </div>
	  </body>
	   <script type="text/javascript" src="../static/confirmedEventPage.js"></script>
</html>
