<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/EventPreferences.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="../static/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/moment.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/transition.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/collapse.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
</head>
<header> header stuff here </header>
<h1> Event Confirmed! </h1>
<h2> Name of restaurant here </h2>
<div class="container-confirmation">
<div class="row">
        <div class="col-sm-3">
          <img src="../static/photos/photo1.jpg" alt="Sample photo">
        </div>
		<div class="col-sm">
			<h2 class="restaurant-name"> Restaurant name here </h2>
			<p class="price-range"> $$$ </p>
			<p class="location"> 555 road way </p>
		</div>
      </div>
<p> put address and price range of restaurant here </p>
</html>
