<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/EventPreferences.css">
    <script type="text/javascript" src="../static/jquery-3.2.1.js"></script>	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Tender</h1>
        <main class="grid">
            <img src="../static/photos/photo1.jpg" alt="Sample photo">
            <img src="../static/photos/photo3.jpg" alt="Sample photo">
            <img src="../static/photos/photo1.jpg" alt="Sample photo">
            <img src="../static/photos/photo3.jpg" alt="Sample photo">
            <img src="../static/photos/photo1.jpg" alt="Sample photo">
            <img src="../static/photos/photo3.jpg" alt="Sample photo">
            <img src="../static/photos/photo1.jpg" alt="Sample photo">
            <img src="../static/photos/photo3.jpg" alt="Sample photo">
        </main>
        <button id="button" class="btn btn-primary">Continue</button>
        <script type="text/javascript">
            document.getElementById("button").onclick = function () {
                location.href = "/options";
            };
        </script>
    </div>
</body>

</html>